html a[title="GitHub-Adrian"].md-social__link svg {
    color: #243ae5;
}

html a[title="Linkedin-Adrian"].md-social__link svg {
    color: #243ae5;
}

html a[title="GitHub-Karim"].md-social__link svg {
    color: #22c335;
}

html a[title="Linkedin-Karim"].md-social__link svg {
    color: #22c335;
}